@media all and (max-width: 1400px),
print {
    .account.page-layout-2columns-left .page-wrapper .sidebar-main {
        width: 16%;
    }
    .account.page-layout-2columns-left .page-wrapper .sidebar-additional {
        width: 17%;
    }
    .account.page-layout-2columns-left .page-wrapper .column.main {
        width: 83%;
    }
    .product-item .tocart {
        font-size: 1rem;
        border-radius: 0;
        line-height: 1;
        padding-bottom: 10px;
        padding-top: 10px;
        white-space: nowrap;
    }
}

@media all and (max-width: 1150px),
print {
    .account.page-layout-2columns-left .page-wrapper .sidebar-main {
        width: 17%;
    }
    .account.page-layout-2columns-left .page-wrapper .sidebar-additional {
        width: 18%;
    }
    .account.page-layout-2columns-left .page-wrapper .column.main {
        width: 82%;
    }
}

@media all and (max-width: 1100px),
print {
    .account.page-layout-2columns-left .page-wrapper .sidebar-main {
        width: 18%;
    }
    .account.page-layout-2columns-left .page-wrapper .sidebar-additional {
        width: 19%;
    }
    .account.page-layout-2columns-left .page-wrapper .column.main {
        width: 81%;
    }
}

@media all and (max-width: 1050px),
print {
    .account.page-layout-2columns-left .page-wrapper .sidebar-main {
        width: 19%;
    }
    .account.page-layout-2columns-left .page-wrapper .sidebar-additional {
        width: 20%;
    }
    .account.page-layout-2columns-left .page-wrapper .column.main {
        width: 80%;
    }
}

@media all and (max-width: 1000px),
print {
    .account.page-layout-2columns-left .page-wrapper .sidebar-main {
        width: 20%;
    }
    .account.page-layout-2columns-left .page-wrapper .sidebar-additional {
        width: 21%;
    }
    .account.page-layout-2columns-left .page-wrapper .column.main {
        width: 79%;
    }
}

@media all and (max-width: 900px),
print {
    .account.page-layout-2columns-left .page-wrapper .sidebar-main {
        width: 21%;
    }
    .account.page-layout-2columns-left .page-wrapper .sidebar-additional {
        width: 22%;
    }
    .account.page-layout-2columns-left .page-wrapper .column.main {
        width: 78%;
    }
}

@media all and (max-width: 800px),
print {
    .account.page-layout-2columns-left .page-wrapper .sidebar-main {
        width: 22%;
    }
    .account.page-layout-2columns-left .page-wrapper .sidebar-additional {
        width: 23%;
    }
    .account.page-layout-2columns-left .page-wrapper .column.main {
        width: 77%;
    }
}

@media all and (min-width: 1400px),
print {
    .account.page-layout-2columns-left .page-wrapper .sidebar-main {
        width: 16%;
    }
    .account.page-layout-2columns-left .page-wrapper .sidebar-additional {
        width: 17%;
    }
    .account.page-layout-2columns-left .page-wrapper .column.main {
        width: 83%;
    }
    .product-item .tocart {
        font-size: 0.9rem;
        border-radius: 0;
        line-height: 1;
        padding-bottom: px;
        padding-right: 5px;
        padding-left: 5px;
        white-space: nowrap;
    }
}

.block-collapsible-nav .item {
    height: 100px;
    text-align: center;
    margin: 0px 0 0;
}

ul>li.nav.item>a:hover {
    color: #ffffff !important;
    background: #e14b5c !important;
}

li.nav.item.current {
    background: #e14b5c;
}

.account .page-wrapper .sidebar-main .block.block-collapsible-nav .content {
    background: #cd071e !important;
    padding: 0px 0 !important;
    border: 1px solid #e1e1e1;
}

.block-collapsible-nav .item a,
.block-collapsible-nav .item>strong {
    border-left: 3px solid transparent;
    color: #ffffff !important;
    display: block;
    padding: 0px 0px 0px 0px !important;
    height: 100px !important;
}

.account .page-wrapper .sidebar-main .block.block-collapsible-nav .content .nav.items .item>a.reward.dashboard.icon::before {
    font-size: 38px;
    color: #ffffff;
    content: "\f06b";
    font-family: 'Fontawesome';
    vertical-align: center;
    display: block;
    font-weight: normal;
    overflow: hidden;
    height: 50px;
    width: 50px;
    line-height: 70px;
    padding-bottom: 5%;
    margin: 0px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    border: none;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.account .page-wrapper .sidebar-main .block.block-collapsible-nav .content .nav.items .item>a.transactions.icon::before {
    font-size: 35px;
    color: #ffffff;
    content: "\f021";
    font-family: 'Fontawesome';
    vertical-align: center;
    display: block;
    font-weight: normal;
    overflow: hidden;
    height: 50px;
    width: 50px;
    line-height: 70px;
    padding-bottom: 5%;
    margin: 0px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    border: none;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.account .page-wrapper .sidebar-main .block.block-collapsible-nav .content .nav.items .item>a.back.icon::before {
    font-size: 35px;
    color: #ffffff;
    content: "\f060";
    font-family: 'Fontawesome';
    vertical-align: center;
    display: block;
    font-weight: normal;
    overflow: hidden;
    height: 50px;
    width: 50px;
    line-height: 70px;
    padding-bottom: 5%;
    margin: 0px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    border: none;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.account .page-wrapper .sidebar-main .block.block-collapsible-nav .content .nav.items .item>a.my.points.and.rewards.icon::before {
    font-size: 35px;
    color: #ffffff;
    content: "\f155";
    font-family: 'Fontawesome';
    vertical-align: center;
    display: block;
    font-weight: normal;
    overflow: hidden;
    height: 50px;
    width: 50px;
    line-height: 70px;
    padding-bottom: 5%;
    margin: 0px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    border: none;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.account .page-wrapper .sidebar-main .block.block-collapsible-nav .content .nav.items .item>a.my.referral.icon::before {
    font-size: 35px;
    color: #ffffff;
    content: "\f0c0";
    font-family: 'Fontawesome';
    vertical-align: center;
    display: block;
    font-weight: normal;
    overflow: hidden;
    height: 50px;
    width: 50px;
    line-height: 70px;
    padding-bottom: 5%;
    margin: 0px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    border: none;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.account .page-wrapper .sidebar-main .block.block-collapsible-nav .content .nav.items .item>a.my.milestones.icon::before {
    font-size: 35px;
    color: #ffffff;
    content: "\f024";
    font-family: 'Fontawesome';
    vertical-align: center;
    display: block;
    font-weight: normal;
    overflow: hidden;
    height: 50px;
    width: 50px;
    line-height: 70px;
    padding-bottom: 5%;
    margin: 0px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    border: none;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}